@import "vars";
@import "layout";
@import "animations";
@import "transitions";
@import "util";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

body {
    background-color: darkblue;
    color:cyan;
}

.content h1, .content h2, .content h3, .content h4, .content h6 {
    color:white;
}

.message.is-dark .message-header {

    background-color: aqua;
    color: darkblue;

}

.subtitle strong {
    color: blue;
}